pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.nrepl-port
.cpcache/
/test/creds.edn
.classpath
.project
.settings/*
node_modules
.shadow-cljs
shadow-cljs.edn
karma.conf.js
goldly_bindings_generated.cljs
package.json
package-lock.json
/karma.conf.js
.calva
.lsp/
.webly
certs
target/
ci/deps.edn
demo-webly/karma.conf.js
\#*\#
creds.edn
creds-wien.edn
creds-localhost.edn
.clj-kondo
*~
\#*\#
.\#*
.~*
