 {:goldly {; build
          :lazy true
            ; run
          :autoload-cljs-dir []
           ; it should not be necessary to define routes, as
           ; we use the extension system here.  
           ; todo: fix this bug in goldly.
          :routes {:app {;"" demo.page.main/main-page
                         }
                   :api {}}}

 :oauth2 {:token-path ".webly/tokenstore/"}

 :users {:demo {:roles #{:logistic}
                :password "a231498f6c1f441aa98482ea0b224ffa" ; "1234"
                :email ["john@doe.com"]}
         :boss {:roles #{:logistic :supervisor :accounting}
                :password "a231498f6c1f441aa98482ea0b224ffa" ; "1234"
                :email ["boss@doe.com"]}

         :florian {:roles #{:logistic}
                   :password "a231498f6c1f441aa98482ea0b224ffa" ; 1234
                   :email ["hoertlehner@gmail.com"]}
         :john {:roles #{:logistic}
                :password "a231498f6c1f441aa98482ea0b224ffa" ; "1234"
                :email ["john@doe.com"]}}
  ;
 }
