{:name "demo"
 :lazy true
 :depends-on #{:ui-repl}

 :cljs-routes  {"" demo.page.oauth2/page-oauth2}
 :cljs-namespace [demo.page.oauth2]
 :cljs-ns-bindings {'demo.page.oauth2 {'page-oauth2 demo.page.oauth2/page-oauth2}}

; 
}