{:paths ["src"
         "resources"
         "target/webly"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.10.3"}
  funes/funes {:mvn/version "0.1.0"} ; generate schema from rest response
  ; pink-gorilla deps
  org.pinkgorilla/webly {:mvn/version "0.8.707"}
  org.pinkgorilla/ui-tailwind {:mvn/version "0.1.8"}
  org.pinkgorilla/ui-repl {:mvn/version "0.1.112"}
  org.pinkgorilla/rest {:local/root "../rest" :deps/manifest :deps}}

 :aliases
 {:webly {:exec-fn webly.app.app/webly-build
          :exec-args {:config ["demo-config.edn"]
                      :profile "npm-install"}}
  
  :npm-install {:exec-args {:profile "npm-install"}}
  :compile {:exec-args {:profile "compile"}}

  ; web
  :demo
  {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}
                cider/cider-nrepl {:mvn/version "0.28.3"}}
   :exec-fn modular.system/start!
   :exec-args {:profile "watch"
               :config [; oauth2 secrets
                        "/home/florian/repo/myLinux/myvault/goldly/oauth2-localhost.edn" ]
               :services "demo-services.edn"}}
;
  }}
