{:paths ["src"
         "resources"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.1"}
  com.github.oliyh/martian {:mvn/version "0.1.30"}
  com.github.oliyh/martian-clj-http {:mvn/version "0.1.30"}
  org.pinkgorilla/oauth2 {:mvn/version "0.2.31"}}

 :aliases
 {; github ci  
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}

;
  }}


